<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Clothing prediction</title>
</head>
<body>

  <div class="container">
  <div class="row">

    <div class="col-sm">
      <table>


      <span class="border border-primary">
        <tr>

      <td> <img src="{{ user_image }}" alt="User Image" class="img-thumbnail"></td>
      </span>
    </div>

    <div class="col-sm">
    <td>  <h1>Model predicted this as  <span class="badge badge-secondary">{{product}}</span></h1></td>
    </div>

  </div>
</div>
  </tr>
  </table>

</body>

</html>
